:root{
    --white-color : #fff
}
nav{
    background-color: rgb(79, 89, 98);
    position: fixed;
    width: 30vw;
    left: 0;


    
    top: 0;
    bottom: 0;
    color: var(--white-color);
}
nav.hidden{
    margin-left: -100%;

}
.profile, .logo{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    color: var(--white-color);
} 
.profile{
    width: 96%;
    margin: auto;
}
.logo small{
    font-size: 1.5rem;
}
.profile img, .logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 20px 10px 10px 20px
}
.search{
    height: 6vh;
    display: flex;
    background-color: rgb(63, 71, 78);
    margin: 1.5%;
    border-radius: 10px;
}
.search input{
    margin: auto;
    height: 90%;
    background-color: rgb(63, 71, 78);
    margin-top: 4.5px;
    border: none;
    flex: 8;
    border: 1px solid rgba(255, 255, 255, .5);
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
    color: var(--white-color);
    font-size: 1.1rem;
}
.search input:focus{
    border: none;
}
.search .icone-search{
    height: 100%;
    flex: 2;
    background-image: url('../public/imgs/icone-sharch.svg') ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    /* width: 85%; */
    width: 25vw;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 5px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.dashboard-1{
    background-color: rgb(0, 123, 255);
}
ul div{
    display: flex;
    align-items: center;
}
ul div i{
    margin-right: 20%;
}
.fa-angle-left{
    cursor: pointer;
}
ul i , .widgets span{
    margin-right: 4%;
}
.embourger{
    position: relative;
    margin-left: 32vw;
}
.embourger.hide{
    margin: 2vw;
}
.embourger i{
    cursor: pointer;
}
.tourne{
    transform: rotate(-90deg);
}
.contait-item{
    display: none;
}
.remove-items{
    display: block;
}
.fa-angle-left{
    font-size: 1.5rem;
}